*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --grey: #696e70;
    --black: #242b2e;
}
.container{
    width: 45vw;
    height: 75vh;
    background-color: var(--black);
    color: var(--grey);
    margin: 100px;
    border-radius: 30px;
    text-align: center;
    padding-right: 10px;
}
.container > .logo > img{
    margin-top: 20px;
    width: 30%;
    object-fit: cover;
}
.container > .heading > h1{
    font-size: 2.5rem;
    color: #fff;
    margin: 30px auto;
}
.container .article{
    overflow: scroll;
    height: 45%;
    overflow-x: hidden;
}
.container .article p {
    text-align: left;
    font-size: 1.2rem;
    margin: 30px 0;
    padding-left: 30px;
    padding-right: 10px;
}


.article::-webkit-scrollbar {
    width: 5px;
}
.article::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 20%;
}

  