*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px 0 10px 0;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
}
.heading > h1{
    font-size: 2.5rem;
}
.container{
    border-radius: 8px;
    width: 45vw;
    height: 100%;
    padding: 50px 10px 0 30px;
    background-color: #fff;
}

.details > input{
    width: 100%;
    border: 1.4px solid #000;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.details > label{
    font-size: 1.2rem;
    display: inline-block;
    padding-bottom: 8px;
}
.details > select{
    width: 100%;
    border: 1.4px solid #000;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 25px;
}
.button > button {
    width: 100%;
    padding: 10px 50px;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}