*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    text-align: center;
}
header > h1{
    margin: 20px auto;
    color: #ea5f5e;
}
body{
    background-color: #252b2f;
}
main{
    width: 80vw;
    height: 90vh;
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
}
img{
    width: 150px;
    height: 150px;
}
.outer1, .outer2, .outer3{
    width: 25vw;
    height: 80vh;
    border: 3px solid #000000;
}
.inner1, .inner2, .inner3{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
article{
    margin: 0 20px;
}
.outer1{
    background-color: #35bdd0;
}
.outer2{
    background-color: #e03b8b;
}
.outer3{
    background-color: #5b20ca;
}
.inner3 > img{
    border-radius: 50%;
}